.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center; /* Centre horizontalement les éléments de la grille */
  margin: 0 auto; /* Centre le conteneur lui-même */
  max-width: 1200px; /* Limite la largeur maximale */
}

@media (max-width: 900px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px; /* Ajustement pour 2 colonnes */
  }
}

@media (max-width: 600px) {
  .movie-grid {
    grid-template-columns: 1fr;
    max-width: 400px; /* Ajustement pour 1 colonne */
  }
}

/* Optionnel : Pour centrer aussi le contenu des cartes */
.MuiCard-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 300px; /* Largeur maximale uniforme pour toutes les cartes */
}